{% extends 'usuario/base.html' %}
{% block conteudo %}

<form action="{% url 'registro_ativos' %}" method="post">
{% csrf_token %}    
   <div style="text-align:center;" class="container">
      <label for="inputEmail4" class="form-label" style="font-weight: bold; font-size: 20px;">Email</label>
      <input name="email" type="email" class="form-control" id="inputEmail4">
    </div>


<div class="col-12" style="text-align:center;margin-top: 20px;" class="container">
   <button type="submit" class="btn btn-primary">Enviar</button>
 </div>
</form>
{% endblock %}